/*LANDING STYLING*/
#landing {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: url(../images/assets/landing.jpeg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-wrapper {
  margin-top: 5%;
}

.landing-logo {
  position: relative;;
  width: 500px;
  left: 50%;
  margin-left: -255px;
}
